.selected {
    background-color: lightgrey;
}

#open-orders-container {
    max-height: 400px;
    overflow: auto;
}

#open-orders-container {
    max-height: 400px;
    overflow: auto;
}

#pickup-items-container {
    max-height: 400px;
    overflow: auto;
}

.warn-order{
    background-color: #ffcccc
    ;
    font-weight: bold;
}

.done-order {
    background-color:  #ccffcc;
    font-weight: bold;
}

#ship-order-btn {
    margin-left: 15px;
}