.reduced-itemUpcs-div {
    cursor: pointer;
}

.expanded-itemUpcs-div {
    /* cursor: pointer; */
}

.reduce-btn-div {
    cursor: pointer;
}

.del-item-itemUpcs-span {
    cursor: pointer;
}

.del-item-itemUpcs > * {
    pointer-events: none;   
}