<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment">
  <title id="pageTitle">View Item Info</title>
</head>
<body th:include="fragments/layout :: bodyFragment">  
  <div id="content-layout-container">
    <div id="content-container" class="container-fluid">Hi</div>
    <link rel="stylesheet" href="css/items/view_item_info.css">
    <script src="/js/etc/ModalMenu.js"></script>
    <script src="/js/items/view_item_info.js"></script>
  </div>
</body>
</html>